<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>INSPIRE Reference Validator - Test reports</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script>
      var cl = document.querySelector('html').classList;
      cl.remove('no-js');
      cl.add('has-js');
    </script>
	<script defer src="https://europa.eu/webtools/load.js" type="text/javascript"></script>
    <script src="../lib/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.min.css">
    <script src="../lib/jquery/jquery-3.6.0.min.js"></script>
  <script src="../lib/momentjs/moment.min.js"></script>
    <script src="../lib/momentjs/moment-with-locales.min.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/testrun/externalFunctions.js"></script>
    <script src="../js/testrun/app.js"></script>
    <script src="../js/testrun/controller.js"></script>
      <link
              rel="stylesheet"
              href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.1.2/ec/styles/optional/ecl-ec-utilities.css"
              integrity="sha256-tIdLwIyIh9hgJZld03iHWPwYgCrPBSWL7wpTtojkce0="
              crossorigin="anonymous"
              media="screen"
      />
      <link
              rel="stylesheet"
              href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.1.2/ec/styles/optional/ecl-ec-default.css"
              integrity="sha256-eYe/oOF0E6lUox+xPwOFvTaJU6mExX/mF681zlJrf40="
              crossorigin="anonymous"
              media="screen"
      />
      <link
              rel="stylesheet"
              href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.1.2/ec/styles/optional/ecl-reset.css"
              integrity="sha256-zOWLsbDmv/r+0qRDSUImHL5/VuzVevsVPPcxfsKyNgE="
              crossorigin="anonymous"
              media="screen"
      />
      <link
              rel="stylesheet"
              href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.1.2/ec/styles/ecl-ec.css"
              integrity="sha256-IOUujRA/9MWrsRma7FZUZImP8bml0XI/y7Y89uW6reg="
              crossorigin="anonymous"
              media="screen"
      />
      <script
              src="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v4.1.2/ec/scripts/ecl-ec.js"
              integrity="sha256-qlLzqRyzAuZvE80R8QVz6Jkw1CRok1KQiaLTztBOnvI="
              crossorigin="anonymous"
      ></script>
      <link type="text/css" rel="stylesheet" href="../css/validator.css" />
  <link rel="shortcut icon" href="../favicon.ico">
  </head>
  <body ng-app="myNgValidator">

	<script type="application/json">
	{
		"utility" : "cck",
		"url": {
			"en": "https://ec.europa.eu/info/cookies_en"
		}
	}</script>

    <!-- paste the markup from the template here -->
    <header class="ecl-site-header ecl-site-header--has-menu " data-ecl-auto-init="SiteHeader">
        <div class="ecl-site-header__background">
            <div class="ecl-site-header__header">
                <div class="ecl-site-header__container ecl-container">
                    <div class="ecl-site-header__top" data-ecl-site-header-top><a
                            class="ecl-link ecl-link--standalone ecl-site-header__logo-link" href="https://ec.europa.eu/"
                            aria-label="European Commission"><img alt="European Commission logo" title="European Commission"
                                                                  class="ecl-site-header__logo-image"
                                                                  src="../img/ec/logo--en.svg" /></a>
                        <div class="ecl-site-header__action">
                            <div class="ecl-site-header__language"><a class="ecl-button ecl-button--tertiary ecl-site-header__language-selector" href="" data-ecl-language-selector role="button" aria-label="Change language, current language is English" ><span class="ecl-site-header__language-icon"><svg class="ecl-icon ecl-icon--s ecl-site-header__icon" focusable="false" aria-hidden="false" role="img">
                    <title>EN</title>
                    <use xlink:href="../component-library/dist/sprites/icons.svg#global"></use>
                  </svg></span>EN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ecl-site-header__banner-top">
                <div class="ecl-container"><a href="https://knowledge-base.inspire.ec.europa.eu/" target="_blank"
                                              class="ecl-link ecl-link--standalone ecl-link--no-visited">Inspire</a></div>
            </div>
            <div class="ecl-site-header__banner">
                <div class="ecl-container">
                    <div class="ecl-site-header__site-name">INSPIRE Reference Validator
                        <span id="titleWebPageHeader" style='display: none'> - Staging instance</span>
                    </div>
                </div>

            </div>
        </div>
        <!-- <p class="ecl-page-header-core__description">Test your INSPIRE data, services and metadata</p> -->
        <nav class="ecl-menu" data-ecl-menu data-ecl-menu-max-lines="2" data-ecl-auto-init="Menu" data-ecl-menu-label-open="Menu" data-ecl-menu-label-close="Close" aria-expanded="false" role="navigation">
            <div class="ecl-menu__overlay" data-ecl-menu-overlay="true"></div>
            <div class="ecl-container ecl-menu__container"><a class="ecl-link ecl-link--standalone ecl-link--icon ecl-button ecl-button--tertiary ecl-menu__open ecl-link--icon-only" data-ecl-menu-open><svg class="ecl-icon ecl-icon--m ecl-link__icon" focusable="false" aria-hidden="true">
                <use xlink:href="../component-library/dist/sprites/icons.svg#hamburger"></use></svg>
                <svg class="ecl-icon ecl-icon--m ecl-link__icon" focusable="false" aria-hidden="true">
                    <use xlink:href="../component-library/dist/sprites/icons.svg#close"></use>
                </svg><span class="ecl-link__label">Menu</span></a>
                <section id="section" class="ecl-menu__inner" data-ecl-menu-inner role="application" aria-label="Menu">
                    <header class="ecl-menu__inner-header"><button class="ecl-button ecl-button--ghost ecl-menu__close ecl-button--icon-only" type="submit" data-ecl-menu-close><span class="ecl-button__container"><span class="ecl-button__label" data-ecl-label="true">Close</span><svg class="ecl-icon ecl-icon--m ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon>
                <use xlink:href="../component-library/dist/sprites/icons.svg#close"></use>
              </svg></span></button>
                        <div class="ecl-menu__title">Menu</div><button class="ecl-button ecl-button--ghost ecl-menu__back" type="submit" data-ecl-menu-back><span class="ecl-button__container"><svg class="ecl-icon ecl-icon--xs ecl-icon--rotate-270 ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon>
                <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
              </svg><span class="ecl-button__label" data-ecl-label="true">Back</span></span></button>
                    </header><button class="ecl-button ecl-button--ghost ecl-menu__item ecl-menu__items-previous ecl-button--icon-only" type="button" data-ecl-menu-items-previous tabindex="-1"><span class="ecl-button__container"><svg class="ecl-icon ecl-icon--s ecl-icon--rotate-270 ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon>
              <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
            </svg><span class="ecl-button__label" data-ecl-label="true">Previous items</span></span></button><button class="ecl-button ecl-button--ghost ecl-menu__item ecl-menu__items-next ecl-button--icon-only" type="button" data-ecl-menu-items-next tabindex="-1"><span class="ecl-button__container"><svg class="ecl-icon ecl-icon--s ecl-icon--rotate-90 ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon>
              <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
            </svg><span class="ecl-button__label" data-ecl-label="true">Next items</span></span></button>
                    <ul class="ecl-menu__list" data-ecl-menu-list>
                        <li class="ecl-menu__item" data-ecl-menu-item="true"><a href="../home/index.html" class="ecl-link ecl-link--standalone ecl-menu__link" data-ecl-menu-link>Home</a></li>
                        <li class="ecl-menu__item" data-ecl-menu-item="true"><a href="../test-selection/index.html" class="ecl-link ecl-link--standalone ecl-menu__link" data-ecl-menu-link>Test selection</a></li>
                        <li class="ecl-menu__item" data-ecl-menu-item="true"><a href="../test-reports/index.html" class="ecl-link ecl-link--standalone ecl-menu__link" data-ecl-menu-link>Test reports</a></li>
                        <li class="ecl-menu__item ecl-menu__item--has-children" data-ecl-menu-item data-ecl-has-children aria-haspopup aria-expanded="false"><a class="ecl-link ecl-link--standalone ecl-menu__link" data-ecl-menu-link >Get support</a><button class="ecl-button ecl-button--ghost ecl-menu__button-caret ecl-button--icon-only" type="button" data-ecl-menu-caret aria-label="Access item's children" aria-expanded="false"><span class="ecl-button__container"><svg class="ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon>
                                <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
                                <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
                </svg></span></button>
                            <div class="ecl-menu__mega" data-ecl-menu-mega="true">
                                <ul class="ecl-menu__sublist">
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><a href="https://github.com/INSPIRE-MIF/helpdesk-validator/issues/new?template=problem.md"
                                                                                                  class="ecl-link ecl-link--standalone ecl-menu__sublink">Report a problem</a></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><a href="https://github.com/INSPIRE-MIF/helpdesk-validator/discussions/new?category=ideas"
                                                                                                  class="ecl-link ecl-link--standalone ecl-menu__sublink">Propose a new feature or improvement</a></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><a href="https://github.com/INSPIRE-MIF/helpdesk-validator/discussions/new"
                                                                                                  class="ecl-link ecl-link--standalone ecl-menu__sublink">Start a discussion or raise a question</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="ecl-menu__item ecl-menu__item--has-children" data-ecl-menu-item data-ecl-has-children aria-haspopup aria-expanded="false"><a class="ecl-link ecl-link--standalone ecl-menu__link" data-ecl-menu-link >More on the INSPIRE Reference Validator</a><button class="ecl-button ecl-button--ghost ecl-menu__button-caret ecl-button--icon-only" type="button" data-ecl-menu-caret aria-label="Access item's children" aria-expanded="false"><span class="ecl-button__container"><svg class="ecl-icon ecl-icon--xs ecl-icon--rotate-180 ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon>
                                <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
                </svg></span></button>
                            <div class="ecl-menu__mega" data-ecl-menu-mega="true">
                                <ul class="ecl-menu__sublist">
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                                            class="ecl-menu__sublink">Other instances</span></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://staging-inspire-validator.eu-west-1.elasticbeanstalk.com/etf-webapp/"
                                                                                                                                class="ecl-link ecl-link--standalone ecl-menu__sublink">Staging instance</a></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=""
                                                                                                                                class="ecl-link ecl-link--standalone ecl-menu__sublink">Beta instance</a></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                                            class="ecl-link ecl-link--standalone ecl-menu__sublink">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                                            class="ecl-menu__sublink">Validator API</span></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" onclick= "location.href=swaggerURL"
                                                                                                                                class="ecl-link ecl-link--standalone ecl-menu__sublink">Access the API</a></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/INSPIRE-MIF/helpdesk-validator/tree/master/training%20material/2019-10-01%2B02%20JRC%20Workshop/Step-by-step%20example%20-%20API"
                                                                                                                                class="ecl-link ecl-link--standalone ecl-menu__sublink">Example of API usage</a></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                                            class="ecl-menu__sublink">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                                            class="ecl-menu__sublink">Validator software</span></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://docs.etf-validator.net/v2.0/index.html"
                                                                                                                                class="ecl-link ecl-link--standalone ecl-menu__sublink">ETF Manuals</a></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/INSPIRE-MIF/helpdesk-validator/releases/"
                                                                                                                                class="ecl-link ecl-link--standalone ecl-menu__sublink">Download the INSPIRE Validator</a></li>
                                    <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/INSPIRE-MIF/helpdesk-validator/tree/master/release%20strategy"
                                                                                                                                class="ecl-link ecl-link--standalone ecl-menu__sublink">Release plan</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </nav>
    </header>

    <div class="ecl-u-pb-4xl" ng-controller="myValidatorController">
      <div ng-show="contentLoaded == false" class="spinner">
      </div>
      <div class="ecl-container ecl-u-type-m" ng-show="contentLoaded">
          <nav class="ecl-breadcrumb ecl-page-header__breadcrumb" aria-label="You are here:"
               data-ecl-breadcrumb="true" data-ecl-auto-init="Breadcrumb">
              <ol class="ecl-breadcrumb__container" style="border-bottom: 1px">

                  <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable"><a
                          href="http://ec.europa.eu/index_en.htm"
                          class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link">
                      European Commission</a><svg
                          class="ecl-icon ecl-icon--2xs ecl-icon--rotate-90 ecl-breadcrumb__icon" focusable="false"
                          aria-hidden="true" role="presentation">
                      <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
                  </svg></li>
                  <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable"><a
                          href="https://inspire.ec.europa.eu/"
                          class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link">
                      INSPIRE</a><svg class="ecl-icon ecl-icon--2xs ecl-icon--rotate-90 ecl-breadcrumb__icon"
                                      focusable="false" aria-hidden="true" role="presentation">
                      <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
                  </svg></li>
                  <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="static"><a
                          href="../home/index.html"
                          class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link">Validator</a>

                      <svg
                              class="ecl-icon ecl-icon--2xs ecl-icon--rotate-90 ecl-breadcrumb__icon" focusable="false"
                              aria-hidden="true" role="presentation">
                          <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
                      </svg>

                  </li>
                  <li class="ecl-breadcrumb__segment ecl-breadcrumb__current-page"
                      data-ecl-breadcrumb-item="static" aria-current="page">Test reports</li>
              </ol>
          </nav>
        <div class="ecl-container">
            <div class="ecl-row">
                <div class="ecl-col-s-12 ecl-col-l-3">
                    <h2 class="ecl-u-type-heading-2">Test reports</h2>
                </div>
            </div>
           <div class="ecl-row">
             <aside class="ecl-col-12 ecl-col-l-3">
               <h3 class="ecl-u-type-heading-3 ecl-u-type-color-black ecl-u-mt-l ecl-u-mt-lg-none">Search options</h3>
               <form>
                <label class="ecl-form-label" for="text-input-search-id">Text input<br/></label>
                 <input type="text" id="text-input-search-id" name="text-input-search-name" class="ecl-text-input ecl-text-input--m" disabled="disabled"/><br/>
                 <div class="ecl-form-group"><label class="ecl-form-label" for="facet-resource">Resource type</label>
                   <div class="ecl-select__container ecl-select__container--m"><select id="facet-resource" class="ecl-select" disabled="disabled">
                       <option value="any">Any resource</option>
                       <option value="metadata">Metadata</option>
                       <option value="viewservice">View Service</option>
                       <option value="downloadservice">Download Service</option>
                       <option value="discoveryservice">Discovery Service</option>
                       <option value="dataset">Data Set</option>
                     </select>
                     <div class="ecl-select__icon"><svg focusable="false" aria-hidden="true"
                         class="ecl-select__icon-shape ecl-icon ecl-icon--s ecl-icon--rotate-180">
                         <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
                       </svg></div>
                   </div>
                 </div>
                 <div class="ecl-u-mt-m ecl-form-group"><label class="ecl-form-label" for="facet-status">Status</label>
                   <div class="ecl-select__container ecl-select__container--m"><select id="facet-status" class="ecl-select" disabled="disabled">
                       <option value="any">Any status</option>
                       <option value="failed">Failed</option>
                       <option value="passed">Passed</option>
                       <option value="passedmanual">Passed-manual</option>
                       <option value="warning">Warning</option>
                       <option value="info">Info</option>
                       <option value="skipped">Skipped</option>
                       <option value="notapplicable">Not applicable</option>
                       <option value="undefined">Undefined</option>
                     </select>
                     <div class="ecl-select__icon"><svg focusable="false" aria-hidden="true"
                         class="ecl-select__icon-shape ecl-icon ecl-icon--s ecl-icon--rotate-180">
                         <use xlink:href="../component-library/dist/sprites/icons.svg#corner-arrow"></use>
                       </svg></div>
                   </div>
                 </div>
                 <button type="submit" ng-click="refineResults()" class="ecl-u-mt-l ecl-button ecl-button--primary" disabled="disabled">Refine
                   results</button><br /><button type="submit" ng-click="clearAll()"
                   class="ecl-u-mt-m ecl-u-mt-lg-l ecl-button ecl-button--secondary" disabled="disabled">Clear all</button>
               </form>
             </aside>
             <main class="ecl-col-12 ecl-col-l-9">
               <div class="rTable">
                 <div class="rTableRow">
                   <div class="rTableCell50">&nbsp;</div>
                   <div class="rTableCell50" style="position: absolute; right: 15px; top: 0px; width:auto; overflow: visible;">
          <button type="button" ng-click="showAllTestReports()" style="cursor: pointer;" class="ecl-button ecl-button--secondary">Show All Test Reports</button>
           </div>
          </div>
              </div>
               <div
                 class="ecl-u-type-m ecl-u-type-color-grey ecl-u-mt-l ecl-u-d-flex ecl-u-flex-column ecl-u-flex-lg-row ecl-u-align-items-lg-center">
                 <span ng-show="searchParameters.searchedTerm.length > 0">SEARCHED TERM</span><span ng-repeat="term in searchParameters.searchedTerm" class="ecl-u-ml-s ecl-tag ecl-tag--removable">{{term}}<button type="button"
                       ng-click="removeTerm(term)" aria-label="Dismiss" class="ecl-tag__icon"><svg focusable="false" aria-hidden="true"
                         class="ecl-tag__icon-close ecl-icon ecl-icon--xs">
                         <use xlink:href="../component-library/dist/sprites/icons.svg#ui--close"></use>
                       </svg><svg focusable="false" aria-hidden="true"
                         class="ecl-tag__icon-close-filled ecl-icon ecl-icon--xs">
                         <use xlink:href="../component-library/dist/sprites/icons.svg#ui--close-filled"></use>
                       </svg></button></span>
                 <span ng-show="searchParameters.searchedTerm.length > 0">&nbsp;&nbsp;&nbsp;</span>
                 <span ng-show="searchParameters.resourceType != 'any'">RESOURCE TYPE</span><span ng-show="searchParameters.resourceType != 'any'"class="ecl-u-ml-s ecl-tag ecl-tag--removable">{{searchParameters.resourceType}}<button type="button" ng-click="removeResourceType(searchParameters.resourceType)"
                       aria-label="Dismiss" class="ecl-tag__icon"><svg focusable="false" aria-hidden="true"
                         class="ecl-tag__icon-close ecl-icon ecl-icon--xs">
                         <use xlink:href="../component-library/dist/sprites/icons.svg#ui--close"></use>
                       </svg><svg focusable="false" aria-hidden="true"
                         class="ecl-tag__icon-close-filled ecl-icon ecl-icon--xs">
                         <use xlink:href="../component-library/dist/sprites/icons.svg#ui--close-filled"></use>
                       </svg></button></span>
                 <span ng-show="searchParameters.resourceType != 'any'">&nbsp;&nbsp;&nbsp;</span>
                 <span ng-show="searchParameters.status != 'any'">STATUS</span><span ng-show="searchParameters.status != 'any'"class="ecl-u-ml-s ecl-tag ecl-tag--removable">{{searchParameters.status}}<button type="button" ng-click="removeStatus(searchParameters.status)"
                       aria-label="Dismiss" class="ecl-tag__icon"><svg focusable="false" aria-hidden="true"
                         class="ecl-tag__icon-close ecl-icon ecl-icon--xs">
                         <use xlink:href="../component-library/dist/sprites/icons.svg#ui--close"></use>
                       </svg><svg focusable="false" aria-hidden="true"
                         class="ecl-tag__icon-close-filled ecl-icon ecl-icon--xs">
                         <use xlink:href="../component-library/dist/sprites/icons.svg#ui--close-filled"></use>
                       </svg></button></span>
    </div>
                <!-- ($index >= (searchParameters.currPage-1)*searchParameters.pageSize) && ($index < searchParameters.currPage*searchParameters.pageSize) -->
               <article class="ecl-u-d-flex ecl-u-pv-m ecl-u-border-bottom ecl-u-border-color-grey-15 itemResultMargin" ng-show="{{testItem.id.includes(testRunId) == true}}" ng-repeat="testItem in testResults | filter:cust() as filtered"> <!-- track by $index -->
                 <div id="backgroundStatus" class="rTable bg_{{testItem.status}}">
                   <div class="rTableRow" style="margin-top: -20px">
                     <div class="rTableCell30px">&nbsp;</div>
                     <div class="rTableCell50px"><img id="iconStatus" src="../img/icons/{{testItem.status}}.png" class="iconResults" alt="{{getAltDescriptionFromStatus(testItem.status)}}"/></div>
                     <div>
                      <h5 class="ecl-u-type-heading-5 ecl-u-type-color-black ecl-u-mb-none ecl-u-mt-3xl ecl-u-mt-lg-l" style="height: 40px; padding-right: 20px;">{{testItem.label}}</h5>
                      <div id="testDetail_{{testItem.id}}">
                        <div class="line"></div>
                        <div class="rTableRow">
                          <div class="rTableCell15px250px"></div>
                          <div>
                            <table>
                              <tr>
                                <td>
                                  <h5 class="ecl-u-type-heading-5 ecl-u-type-color-black ecl-u-mb-none ecl-u-mt-3xl detailMargin">Started</h5>
                                </td>
                                <td>&nbsp;&nbsp;</td>
                                <td>
                                  <h5 class="ecl-u-type-color-black ecl-u-mb-none ecl-u-mt-3xl detailMargin">{{formatTimestamp(testItem.startTimestamp)}}</h5>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <h5 class="ecl-u-type-heading-5 ecl-u-type-color-black ecl-u-mb-none ecl-u-mt-3xl detailMargin">Status</h5>
                                </td>
                                <td>&nbsp;&nbsp;</td>
                                <td>
                                  <h5 id="labelStatus" class="ecl-u-type-color-black ecl-u-mb-none ecl-u-mt-3xl detailMargin">{{testItem.status}}</h5>
                                </td>
                              </tr>
                              <tr>
                                <td class="tdVerticalAlignment">
                                  <h5 class="ecl-u-type-heading-5 ecl-u-type-color-black ecl-u-mb-none ecl-u-mt-3xl detailMargin">Test object</h5>
                                </td>
                                <td>&nbsp;&nbsp;</td>
                                <td ng-show="checkIfIsArray(testItem.testTasks.TestTask) == false">
                                  <a ng-click="openTestObject(testItem.id)" style="cursor: pointer;text-decoration: underline;">{{urlValidator}}TestRuns/{{testItem.id}}.xml</a>
                                </td>
                                <td ng-show="checkIfIsArray(testItem.testTasks.TestTask) == true">
                                      <a ng-click="openTestObject(testItem.id)" style="cursor: pointer;text-decoration: underline;">{{urlValidator}}TestRuns/{{testItem.id}}.xml</a>
                                </td>
                              </tr>
                              <tr>
                                <td class="tdVerticalAlignment">
                                  <h5 class="ecl-u-type-heading-5 ecl-u-type-color-black ecl-u-mb-none ecl-u-mt-3xl detailMargin">Test suites</h5>
                                </td>
                                <td>&nbsp;&nbsp;</td>
                                <td ng-show="checkIfIsArray(testItem.testTasks.TestTask) == false">
                                  <span>• {{mappingTestSuite(testItem.testTasks.TestTask.executableTestSuite.ref)}}<br/></span>
          <br/><br/><br/>
          <table style="width: 100%">
             <tr>
           <td><a id="buttonSeeReport_{{testItem.id}}" target="_buttonLink_{{testItem.id}}" class="buttons_links" href="details.html?id={{testItem.id}}">See report <img style="vertical-align: middle;" src="../img/buttons/see_report.png" class="buttons_detail" alt="see report"></a></td>
          <td><a target="_buttonLink" class="buttons_links" href="{{urlValidator}}TestRuns/{{testItem.id}}/log">Log file <img style="vertical-align: middle;" src="../img/buttons/log_file.png" class="buttons_detail" alt="open log file"></a></td>
          <td><a target="_buttonLink" class="buttons_links" href="{{urlValidator}}TestRuns/{{testItem.id}}.html?download=true">Download report <img style="vertical-align: middle;" src="../img/buttons/download_report.png" class="buttons_detail" alt="download report"></a></td>
          <td><a class="buttons_links" href="" ng-click="deleteTest(testItem.id)">Delete report <img style="vertical-align: middle;" src="../img/buttons/delete_report.png" class="buttons_detail" alt="delete report"></a></td>
          <td><a class="buttons_links" href="" ng-click="reRunTest(testItem.id)">Re-run test <img style="vertical-align: middle;" src="../img/buttons/rerun_test.png" class="buttons_detail" alt="rerun test"></a></td>
             </tr>
          </table>
                                </td>
                                <td ng-show="checkIfIsArray(testItem.testTasks.TestTask) == true">
                                  <span ng-repeat="testSuite in testItem.testTasks.TestTask">
                                      • {{mappingTestSuite(testSuite.executableTestSuite.ref)}}<br/>
                                  </span>
          <br/>
          <table style="width: 100%">
             <tr>
          <td><a id="buttonSeeReport_{{testItem.id}}" target="_buttonLink_{{testItem.id}}" class="buttons_links" href="details.html?id={{testItem.id}}">See report <img style="vertical-align: middle;" src="../img/buttons/see_report.png" class="buttons_detail" alt="see report"></a></td>
          <td><a target="_buttonLink" class="buttons_links" href="{{urlValidator}}TestRuns/{{testItem.id}}/log">Log file <img style="vertical-align: middle;" src="../img/buttons/log_file.png" class="buttons_detail" alt="open log file"></a></td>
          <td><a target="_buttonLink" class="buttons_links" href="{{urlValidator}}TestRuns/{{testItem.id}}.html?download=true">Download report <img style="vertical-align: middle;" src="../img/buttons/download_report.png" class="buttons_detail" alt="download report"></a></td>
          <td><a class="buttons_links" href="" ng-click="deleteTest(testItem.id)">Delete report <img style="vertical-align: middle;" src="../img/buttons/delete_report.png" class="buttons_detail" alt="delete report"></a></td>
          <td><a class="buttons_links" href="" ng-click="reRunTest(testItem.id)">Re-run test <img style="vertical-align: middle;" src="../img/buttons/rerun_test.png" class="buttons_detail" alt="rerun test"></a></td>
             </tr>
          </table>
                                </td>
                              </tr>
                            </table>
                          </div>
                          <!--
                            <h5>Status</h5> {{testItem.statusDetail}}
                            <h5>Test object</h5>
                            <h5>Test suites</h5>
                          -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               </article>

             </main>
           </div>
         </div>
       </div>
    </div>

    <div id="dialog-confirm" title="Delete test?"><p>This will delete the test results including the log files!</p></div>

    <!-- FOOTER -->
    <footer class="ecl-site-footer">
        <div class="ecl-container ecl-site-footer__container">
            <div class="ecl-site-footer__row">
                <div class="ecl-site-footer__column">
                    <div class="ecl-site-footer__section ecl-site-footer__section--site-info">
                        <div class="ecl-site-footer__title"><a href="" class="ecl-link ecl-link--standalone ecl-site-footer__title-link">INSPIRE Reference Validator</a></div>
                        <div class="ecl-site-footer__description">This site is managed by the European Commission Joint Research Centre T1 Unit</div>
                        <ul class="ecl-site-footer__list">
                            <li class="ecl-site-footer__list-item"><a href="../accessibilitystatement.html" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Accessibility</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ecl-site-footer__column">
                    <div class="ecl-site-footer__section">
                        <div class="ecl-site-footer__title">Contact us</div>
                        <ul class="ecl-site-footer__list">
                            <li class="ecl-site-footer__list-item"><a href="https://github.com/INSPIRE-MIF/helpdesk-validator"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Contact information</a></li>
                        </ul>
                    </div>
                    <div class="ecl-site-footer__section">
                        <div class="ecl-site-footer__title">Follow us on</div>
                        <ul class="ecl-site-footer__list ecl-site-footer__list--inline">
                            <li class="ecl-site-footer__list-item"><a href="/component-library/example#ri5xx" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-site-footer__link"><svg class="ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                <use xlink:href="../component-library/dist/sprites/icons-social-media.svg#facebook-negative"></use>
                            </svg><span class="ecl-link__label">Facebook</span></a></li>
                            <li class="ecl-site-footer__list-item"><a href="/component-library/example#1bl8g" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-site-footer__link"><svg class="ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                <use xlink:href="../component-library/dist/sprites/icons-social-media.svg#twitter-negative"></use>
                            </svg><span class="ecl-link__label">Twitter</span></a></li>
                            <li class="ecl-site-footer__list-item"><a href="/component-library/example#gzf62" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-site-footer__link"><svg class="ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                <use xlink:href="../component-library/dist/sprites/icons-social-media.svg#linkedin-negative"></use>
                            </svg><span class="ecl-link__label">Linkedin</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="ecl-site-footer__column">
                    <div class="ecl-site-footer__section">
                        <div class="ecl-site-footer__title">About us</div>
                        <ul class="ecl-site-footer__list">
                            <li class="ecl-site-footer__list-item"><a href="https://joint-research-centre.ec.europa.eu/index_en" target="_blank"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Information about the Joint Research Centre</a></li>
                        </ul>
                    </div>
                    <div class="ecl-site-footer__section">
                        <div class="ecl-site-footer__title">Related sites</div>
                        <ul class="ecl-site-footer__list">
                            <li class="ecl-site-footer__list-item"><a href="https://knowledge-base.inspire.ec.europa.eu/" target="_blank"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">INSPIRE Knowledge Base</a></li>
                            <li class="ecl-site-footer__list-item"><a href="https://inspire-geoportal.ec.europa.eu/" target="_blank"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">INSPIRE Geoportal</a></li>
                            <li class="ecl-site-footer__list-item"><a href="https://inspire.ec.europa.eu/registry" target="_blank"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">INSPIRE Registry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ecl-site-footer__row">
                <div class="ecl-site-footer__column">
                    <div class="ecl-site-footer__section">
                        <div class="ecl-site-footer__title">More information on</div>
                        <ul class="ecl-site-footer__list">
                            <li class="ecl-site-footer__list-item"><a href="https://commission.europa.eu/research-and-innovation_en" target="_blank"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                                                                      aria-label="Research and innovation">Research and innovation</a></li>
                            <li class="ecl-site-footer__list-item"><a href="https://commission.europa.eu/funding-tenders_en" target="_blank"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                                                                      aria-label="Funding, Tenders">Funding, Tenders</a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="ecl-site-footer__row">
                <div class="ecl-site-footer__column">
                    <div class="ecl-site-footer__section"><a href="http://ec.europa.eu/index_en.html" class="ecl-link ecl-link--standalone ecl-site-footer__logo-link" aria-label="European Commission">
                        <picture class="ecl-picture ecl-site-footer__picture" title="European Commission">
                            <source srcset="../img/ec/logo-ec--en.svg" media="(min-width: 996px)"><img class="ecl-site-footer__logo-image" src="../img/ec/logo-ec--en.svg" alt="European Commission logo" />
                        </picture>
                    </a></div>
                </div>
                <div class="ecl-site-footer__column">
                    <div class="ecl-site-footer__section ecl-site-footer__section--split-list">
                        <ul class="ecl-site-footer__list">
                            <li class="ecl-site-footer__list-item"><a href="https://ec.europa.eu/info/about-european-commission/contact_en"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Contact the European Commission</a></li>
                            <li class="ecl-site-footer__list-item"><a href="https://europa.eu/european-union/contact/social-networks_en#n:+i:4+e:1+t:+s"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"><span
                                    class="ecl-link__label">Follow the European Commission on social media</span></a></li>
                            <li class="ecl-site-footer__list-item"><a href="https://ec.europa.eu/info/resources-partners_en"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Resources for partners</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ecl-site-footer__column">
                    <div class="ecl-site-footer__section ecl-site-footer__section--split-list">
                        <ul class="ecl-site-footer__list">
                            <li class="ecl-site-footer__list-item"><a href="https://ec.europa.eu/info/language-policy_en"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Language policy</a></li>
                            <li class="ecl-site-footer__list-item"><a href="https://ec.europa.eu/info/cookies_en"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Cookies</a></li>
                            <li class="ecl-site-footer__list-item"><a href="https://ec.europa.eu/info/privacy-policy_en"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Privacy policy</a></li>
                            <li class="ecl-site-footer__list-item"><a href="https://ec.europa.eu/info/legal-notice_en"
                                                                      class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Legal notice</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<div id="betaBanner" class="topcorner" style="display: none;position:fixed;top:0;right:0;"><img style="width:120px" src="../img/beta.png"/></div>

<div class="balloonMessageBlue" id="hidingMessage1"><span id="baloonText1" class="ecl-form-label"></span><div class="crossToClose"><span class="ecl-form-label" onclick="closeBalloon(1)">x</span></div><div class="progressBar1" id="progressBar1"><div></div></div></div>
<div class="balloonMessageGreen" id="hidingMessage2"><span id="baloonText2" class="ecl-form-label"></span><br><span id="baloonSubText2" class="ecl-u-type-m"></span> <div class="crossToClose"><span class="ecl-form-label" onclick="closeBalloon(2)">x</span></div><div class="progressBar2" id="progressBar2"><div></div></div></div>
<div class="balloonMessageRed" id="hidingMessage3"><span id="baloonText3" class="ecl-form-label"></span><br><span id="baloonSubText3" class="ecl-u-type-m"></span> <div class="crossToClose"><span class="ecl-form-label" onclick="closeBalloon(3)">x</span></div><div class="progressBar3" id="progressBar3"><div></div></div></div>
    <script>
      ECL.autoInit();
    </script>
    <script src="../js/menu.js"></script>
  </body>
</html>
